* {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(52, 188, 223);
  --color-wrong: red;
  --color-correct: green;
}

html {
  margin: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  height: 100vh;
  display: grid;
  place-items: center center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.quiz {
  background-color: white;
  max-width: 800px;
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.quiz.correct {
  background-color: var(--color-correct);
}

.quiz.wrong {
  background-color: var(--color-wrong);
}

.quiz h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

button {
  padding: 0.8rem 2rem;
  border-radius: .5rem;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

button.correct {
  background-color: var(--color-correct) !important;
  border: 2px solid black;
}

button.wrong {
  background-color: var(--color-wrong) !important;
}

button:hover {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  filter: brightness(103%);
}

.start-button {
  background-color: #dadada;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-radius: .5rem;
  transition: box-shadow .3s ease;
  align-self: start;
}

.start-button:hover {
}

.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.answer-buttons button {
  background-color: var(--color-primary);
  color: white;
}

.next-button {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  padding: .6rem 1.6rem;
}

.question-container {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
}

.question {
  font-size: 1.5rem;
  text-align: center;
}

.start-container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}


.hide {
  display: none;
}





