* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  height: 100vh;
  background-image: url(/images/hockey.jpg);
  background-position: center;
  background-size: cover;

  display: grid;
  place-items: center center;
}

.quiz {
  width: 60%;
  height: 60%;
  background: white;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
}

.quiz h1 {
  font-size: 3rem;
  text-transform: uppercase;
  /* font-family: monospace; */
  letter-spacing: .3rem;

}

.quiz .start {
  padding: .7rem 1.7rem;
  
  outline: none;
  border: none;
  background-color: #dadada;
  color: black;
  font-weight: bold;
  letter-spacing: .2rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  transition: box-shadow .3s ease;
}

.quiz .start:hover {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  
}

.question {
  display: none;
}

.answer-form {
  width: 100%;
  height: 20%;
  display: none;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
}

.answer-form .answer-container {
  display: flex;
  justify-content: space-between;
}

.answer-form .answer-container input[type="radio"] {
  padding: 0 3rem;
}

.answer-container label {
  margin-right: 1rem;
}

.quiz .submit {
  padding: .7rem 1.7rem;
  margin-top: 2rem;
  
  outline: none;
  border: none;
  background-color: #dadada;
  color: black;
  font-weight: bold;
  letter-spacing: .2rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  transition: box-shadow .3s ease;
}

.quiz .submit:hover {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  
}